.animal.philippine-eagle img {
  object-position: 22% 22%;
}

.animal.philippine-cockatoo img {
  object-position: 30% 30%;
}

.animal.philippine-trogon img {
  object-position: 20% 20%;
}

.animal.philippine-leafbird img {
  object-position: right;
}

.animal-phillipine-falconet img {
  object-position: left;
}

.animal.philippine-magpie-robin h2 {
  font-size: 2rem;
}

.animal.violet-goby img {
  object-position: left;
}
