/* Montserrat Font */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* Montserrat Alternates Font */
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*,
*::before,
*::after {
  box-sizing: content-box;
  margin: 0;
  padding: 0;
}

:root {
  --hunter-green: #064e3b;
  --mint-green: #ecfdf5;
  --light-green: #059669;
  --light-green-2: #a7f3d0;
  --space-padding: 48px 74px;
  --text-color-white: #f5f5f5;
  --yellow-green: rgba(101, 163, 13, 1);
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
}
